<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>おみくじ</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: sans-serif;
            background-color: white;
        }
        .container {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>おみくじを引こう！</h1>
        <form action="{ url_for('test') }}">
            <p><label>test2: </label>
            <input type="text" name="query" value="default">
            <button type="submit" formmethod="get">GET</button>
            <button type="submit" formmethod="post">POST</button></p>
        </form>
    </div>
</body>

</html>





